

#container1{
    background-color: rgb(245, 245, 245);
    border-radius: 6px;
}

#container2{
    /* background-color:; */
    border-radius: 6px;
}

#con2{
    color: rgb(219, 104, 104);
}

#h1{
    color: rgb(101, 101, 221);
}

